body{
    font-family: sans-serif;
    background-color: rgb(195, 197, 197);
    margin: auto;
    width: 80%;
}
h1{
    background-color: rgb(168, 168, 236);
    text-align: center;
    color: rgb(8, 8, 148);
    margin: 0;
}
.subtitle{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: rgb(233, 229, 229);
}
h2{
    background-color: rgb(158, 158, 172);
    padding: 10px;
    border-bottom: 3px solid rgb(8, 8, 148);
    color: rgb(8, 8, 148);
}
.description{
    padding-bottom: 30px;
}
p{
    padding: 3px;
}
ul{
    padding-left: 0;
}
li{
    list-style-position: inside;
}
a:hover{
    background-color: #ccc;
}
.menu{
    text-align: center;
    margin: 30px;
}
.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 0;
}
.menu a{
    padding: 16px;
    background-color: #fffbfb
}
.menu a:hover{
    background-color: #333;
    color: white;
}